<footer>
    <div class="container-1">
        <div class="container-3">
                <div class="footer">
                    <div class="column">
                        <h3>Contatos</h3>
                        <ul>
                            <li>Telefone: (12) 99148-5333</li>
                            <li>Telefone: (12) 97812-2063
                                <a href="https://wa.me/55129975910549" target="_blank">
                                    <img src="/images/whatsapp.png" class="f">
                                </a>
                            </li>
                            <li>Email: litoralnortesoftware@hotmail.com</li>
                            <li>Gmail: litoralnortesoftware@gmail.com</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>Endereço</h3>
                        <ul>
                            <li>litoralnortesoftware:</li>
                            <li>Rua Rrrrrrr, Nº 4555</li>
                            <li>Bairro Bbbbbbb</li>
                            <li>Caraguattuba - São Paulo, CEP 11674-760</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>Links Rápidos</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sobre Nós</a></li>
                            <li><a href="#">Serviços</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Política de Privacidade</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>Redes Sociais</h3>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    < / > &copy;2024 litoralnortesoftware: Todos os direitos reservados.
                </div>
        </div>
    </div>
</footer>