<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="css/imagens.css">
    <title>Ninho</title>
</head>
<body>
    <div class="container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                   <div class="main-1-1">
                        <img src="/imagens/banner.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/banner-1.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/banner-2.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/banner-3.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/banner-4.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/ninho_1.jpg" download>
                        <img src="/imagens/ninho_1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com chocolate</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com chocolate', 6.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_2.jpg" download>
                        <img src="/imagens/ninho_2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho amargo</p>
                        <p>R$ <span class="preco">6.50</span></p>
                        <button onclick="adicionarCarrinho('Ninho amargo', 6.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_3.jpg" download>
                        <img src="/imagens/ninho_3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com chandelle</p>
                        <p>R$ <span class="preco">4.50</span></p>
                        <button onclick="adicionarCarrinho('Ninho com chandelle', 4.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_4.jpg" download>
                        <img src="/imagens/ninho_4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com cacau</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com cacau', 5.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_5.jpg" download>
                        <img src="/imagens/ninho_5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com leite</p>
                        <p>R$ <span class="preco">3.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com leite', 3.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_6.jpg" download>
                        <img src="/imagens/ninho_6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com coco</p>
                        <p>R$ <span class="preco">3.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com coco', 3.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_7.jpg" download>
                        <img src="/imagens/ninho_7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com granulado</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com granulado', 5.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_8.jpg" download>
                        <img src="/imagens/ninho_8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com morango</p>
                        <p>R$ <span class="preco">4.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com morango', 4.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/ninho_9.jpg" download>
                        <img src="/imagens/ninho_9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com prestigio</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com prestigio', 5.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_10.jpg" download>
                        <img src="/imagens/ninho_10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho trufado</p>
                        <p>R$ <span class="preco">4.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho trufado', 4.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ninho_11.jpg" download>
                        <img src="/imagens/ninho_11.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com chocolate</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com chocolate', 5.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/ninho_12.jpg" download>
                        <img src="/imagens/ninho_12.jpg" alt="Produto 12" />
                      </a>
                    <div class="produto-preco">
                        <p>Ninho com morango</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Ninho com morango', 5.00)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html>