<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="imagens.css">
    <title>Trufas</title>
</head>
<body>
    <div class="flex-container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                    <div class="main-1-1">
                        <img src="/imagens/13.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/14.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/15.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/16.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/17.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <div class="localizacao">
                <h1>Bonecas</h1>
            </div>
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/1.jpg" download>
                        <img src="/imagens/1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">60.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 60.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/2.jpg" download>
                        <img src="/imagens/2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">80.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 80.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/3.jpg" download>
                        <img src="/imagens/3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">65.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 65.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/4.jpg" download>
                        <img src="/imagens/4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">45.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 45.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/5.jpg" download>
                        <img src="/imagens/5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">57.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 57.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/6.jpg" download>
                        <img src="/imagens/6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">46.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 46.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/7.jpg" download>
                        <img src="/imagens/7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com coco</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com coco', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/8.jpg" download>
                        <img src="/imagens/8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">59.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 59.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/9.jpg" download>
                        <img src="/imagens/9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">55.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 55.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/10.jpg" download>
                        <img src="/imagens/10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">48.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 48.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/11.jpg" download>
                        <img src="/imagens/11.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">70.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 70.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/12.jpg" download>
                        <img src="/imagens/12.jpg" alt="Produto 12" />
                      </a>
                    <div class="produto-preco">
                        <p>Boneca</p>
                        <p>R$ <span class="preco">75.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca', 75.00)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html>