<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="imagens.css">
    <title>Trufas</title>
</head>
<body>
    <div class="container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                    <div class="main-1-1">
                        <img src="/imagens/banner.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/banner-1.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/banner-2.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/banner-3.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/banner-4.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <div class="localizacao">
                <h1>Trufas</h1>
            </div>
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/trufas_1.jpg" download>
                        <img src="/imagens/trufas_1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas', 6.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_2.jpg" download>
                        <img src="/imagens/trufas_2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com castanhas</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_3.jpg" download>
                        <img src="/imagens/trufas_3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com gotas de chocolate</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas', 6.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_4.jpg" download>
                        <img src="/imagens/trufas_4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas em barras</p>
                        <p>R$ <span class="preco">4.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas em barras', 4.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_5.jpg" download>
                        <img src="/imagens/trufas_5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com creme</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com creme', 7.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_6.jpg" download>
                        <img src="/imagens/trufas_6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas crocantes</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas crocantes', 6.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_7.jpg" download>
                        <img src="/imagens/trufas_7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com coco</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com coco', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_8.jpg" download>
                        <img src="/imagens/trufas_8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com calda de morango</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com calda de morango', 7.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/trufas_9.jpg" download>
                        <img src="/imagens/trufas_9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com chocolate amargo</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com chocolate amargo', 5.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_10.jpg" download>
                        <img src="/imagens/trufas_10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com cobertura</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com cobertura', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/trufas_11.jpg" download>
                        <img src="/imagens/trufas_11.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com gotas de chocolate negro</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com gotas de chocolate negro', 7.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/trufas_12.jpg" download>
                        <img src="/imagens/trufas_12.jpg" alt="Produto 12" />
                      </a>
                    <div class="produto-preco">
                        <p>Trufas com nozes</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Trufas com nozes', 5.00)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html>