<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="css/imagens.css">
    <title>Loja_3</title>
</head>
<body>
    <div class="container">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                    <div class="main-1-1">
                        <img src="/imagens/imagem1.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/imagem2.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/imagem3.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/imagem4.jpg" alt="Imagem 4" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/imagem6.jpg" download>
                        <img src="/imagens/imagem6.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">25.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 25.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/imagem8.jpg" download>
                        <img src="/imagens/imagem8.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">18.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 18.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/imagem9.jpg" download>
                        <img src="/imagens/imagem9.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">16.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 16.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/imagem10.jpg" download>
                        <img src="/imagens/imagem10.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">12.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 12.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/imagem11.jpg" download>
                        <img src="/imagens/imagem11.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">9.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 9.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/imagem12.jpg" download>
                        <img src="/imagens/imagem12.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">13.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 13.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/imagem13.jpg" download>
                        <img src="/imagens/imagem13.jpg" alt="Produto 88" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">10.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 10.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/imagem14.jpg" download>
                        <img src="/imagens/imagem14.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Code haker</p>
                        <p>R$ <span class="preco">17.00</span></p>
                        <button onclick="adicionarCarrinho('Boneca Fofura', 17.00)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html>