<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="css/imagens.css">
    <title>Chocolate negro</title>
</head>
<body>
    <div class="container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                   <div class="main-1-1">
                        <img src="/imagens/banner.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/banner-1.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/banner-2.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/banner-3.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/banner-4.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/negro_1.jpg" download>
                        <img src="/imagens/negro_1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro', 5.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_2.jpg" download>
                        <img src="/imagens/negro_2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com avelã</p>
                        <p>R$ <span class="preco">4.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com avelã', 4.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_3.jpg" download>
                        <img src="/imagens/negro_3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com galak</p>
                        <p>R$ <span class="preco">3.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com galak', 3.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_4.jpg" download>
                        <img src="/imagens/negro_4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com ninho</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com ninho', 5.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_5.jpg" download>
                        <img src="/imagens/negro_5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro amargo</p>
                        <p>R$ <span class="preco">3.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro amargo', 3.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_6.jpg" download>
                        <img src="/imagens/negro_6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com castanha</p>
                        <p>R$ <span class="preco">4.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com castanha', 4.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_7.jpg" download>
                        <img src="/imagens/negro_7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com morango</p>
                        <p>R$ <span class="preco">3.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com morango', 3.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_8.jpg" download>
                        <img src="/imagens/negro_8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com prestigio</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com prestigio', 5.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/negro_9.jpg" download>
                        <img src="/imagens/negro_9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com nozes</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com nozes', 5.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_10.jpg" download>
                        <img src="/imagens/negro_10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com leite</p>
                        <p>R$ <span class="preco">4.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com leite', 4.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/negro_11.jpg" download>
                        <img src="/imagens/negro_11.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com chandelle</p>
                        <p>R$ <span class="preco">.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com chandelle', 4.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/negro_12.jpg" download>
                        <img src="/imagens/negro_12.jpg" alt="Produto 12" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate negro com nutela</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate negro com nutela', 5.00)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html>