<!-- <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="css/imagens.css">
    <title>Chocolate ao leite</title>
</head>
<body>
    <div class="container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                   <div class="main-1-1">
                        <img src="/imagens/banner.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/banner-1.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/banner-2.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/banner-3.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/banner-4.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <div class="localizacao">
               <h1>Ao leite</h1>
            </div>
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/ao_leite_1.jpg" download>
                        <img src="/imagens/ao_leite_1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite</p>
                        <p>R$ <span class="preco">5.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite', 5.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_2.jpg" download>
                        <img src="/imagens/ao_leite_2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite com nozes</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite com nozes', 7.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_3.jpg" download>
                        <img src="/imagens/ao_leite_3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite com amendoas</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite com amendoas', 6.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_4.jpg" download>
                        <img src="/imagens/ao_leite_4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite com avel達</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite com avel達', 6.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_5.jpg" download>
                        <img src="/imagens/ao_leite_5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite com laka</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite com laka', 7.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_6.jpg" download>
                        <img src="/imagens/ao_leite_6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite amargo</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite com laka', 7.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_7.jpg" download>
                        <img src="/imagens/ao_leite_7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Diamante negro ao leite</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Diamante negro ao leite', 7.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_8.jpg" download>
                        <img src="/imagens/ao_leite_8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Brigadeiro negro ao leite</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Brigadeiro negro ao leite', 7.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/ao_leite_9.jpg" download>
                        <img src="/imagens/ao_leite_9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Avel達 ao leite</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Avel達 ao leite', 6.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_10.jpg" download>
                        <img src="/imagens/ao_leite_10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite com pistache</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite com pistache', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/ao_leite_11.jpg" download>
                        <img src="/imagens/ao_leite_11.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite com coco</p>
                        <p>R$ <span class="preco">7.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite com coco', 7.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/ao_leite_12.jpg" download>
                        <img src="/imagens/ao_leite_12.jpg" alt="Produto 12" />
                      </a>
                    <div class="produto-preco">
                        <p>Chocolate ao leite negro</p>
                        <p>R$ <span class="preco">6.00</span></p>
                        <button onclick="adicionarCarrinho('Chocolate ao leite negro', 6.00)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html> -->