<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="imagens.css">
    <title>Prestigio</title>
</head>
<body>
    <div class="container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                    <div class="main-1-1">
                        <img src="/imagens/banner.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/banner-1.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/banner-2.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/banner-3.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/banner-4.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <a href="/"><h1>Prestigio</h1></a>
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/prestigio_1.jpg" download>
                        <img src="/imagens/prestigio_1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio de cidra</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio de cidra', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_2.jpg" download>
                        <img src="/imagens/prestigio_2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio em tablébe</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio em tablébe', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_3.jpg" download>
                        <img src="/imagens/prestigio_3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio ao soflair</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio ao soflair', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_4.jpg" download>
                        <img src="/imagens/prestigio_4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio em barras</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio em barras', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_5.jpg" download>
                        <img src="/imagens/prestigio_5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio em barras duplas</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio em barras duplas', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_6.jpg" download>
                        <img src="/imagens/prestigio_6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio ao leite</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio ao leite', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_7.jpg" download>
                        <img src="/imagens/prestigio_7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio com amendoas</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio com amendoas', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_8.jpg" download>
                        <img src="/imagens/prestigio_8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio com chocolate preto</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio com chocolate preto', 8.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/prestigio_9.jpg" download>
                        <img src="/imagens/prestigio_9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_10.jpg" download>
                        <img src="/imagens/prestigio_10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio amargo</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio amargo', 8.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/prestigio_11.jpg" download>
                        <img src="/imagens/prestigio_11.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio com castanhas</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio com castanhas', 8.00)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/prestigio_12.jpg" download>
                        <img src="/imagens/prestigio_12.jpg" alt="Produto 12" />
                      </a>
                    <div class="produto-preco">
                        <p>Prestigio sem recheio</p>
                        <p>R$ <span class="preco">8.00</span></p>
                        <button onclick="adicionarCarrinho('Prestigio sem recheio', 8.00)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html>