<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="css/imagens.css">
    <title>Avelã</title>
</head>
<body>
    <div class="container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                    <div class="main-1-1">
                        <img src="/imagens/banner.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/banner-1.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/banner-2.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/banner-3.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/banner-4.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/avela_1.jpg" download>
                        <img src="/imagens/avela_1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com galak</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com galak', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_2.jpg" download>
                        <img src="/imagens/avela_2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com morango</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com morango', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_3.jpg" download>
                        <img src="/imagens/avela_3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com castanhas</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com castanhas', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_4.jpg" download>
                        <img src="/imagens/avela_4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com amendoas</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com amendoas', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_5.jpg" download>
                        <img src="/imagens/avela_5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com coco</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com coco', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_6.jpg" download>
                        <img src="/imagens/avela_6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com pistachi</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com pistachi', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_7.jpg" download>
                        <img src="/imagens/avela_7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com ouro branco</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com ouro branco', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_8.jpg" download>
                        <img src="/imagens/avela_8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com ninho</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com ninho', 1.50)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/avela_9.jpg" download>
                        <img src="/imagens/avela_9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_10.jpg" download>
                        <img src="/imagens/avela_10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com nutela</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com nutela', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/avela_11.jpg" download>
                        <img src="/imagens/avela_11.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com cacau</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com cacau', 1.50)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/avela_12.jpg" download>
                        <img src="/imagens/avela_12.jpg" alt="Produto 12" />
                      </a>
                    <div class="produto-preco">
                        <p>Avelã com chiclette</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Avelã com chiclette', 1.50)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html>