<!-- <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/style.css">
    <link rel="stylesheet" href="css/imagens.css">
    <title>Bombom</title>
</head>
<body>
    <div class="container-1">
        <main>
            <div class="container-1">
            <div class="card-main">
                <div class="main-banner">
                    <div class="main-1-1">
                        <img src="/imagens/banner.jpg" alt="Imagem 1" class="banner-image">
                        <img src="/imagens/banner-1.jpg" alt="Imagem 2" class="banner-image">
                        <img src="/imagens/banner-2.jpg" alt="Imagem 3" class="banner-image">
                        <img src="/imagens/banner-3.jpg" alt="Imagem 4" class="banner-image">
                        <img src="/imagens/banner-4.jpg" alt="Imagem 5" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <div class="localizacao">
               <h1>Bombons</h1>
            </div>
            <section class="produto">
                <div class="produto-card">
                    <a href="/imagens/bombom_1.jpg" download>
                        <img src="/imagens/bombom_1.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom sonho de valsa</p>
                        <p>R$ <span class="preco">3.00</span></p>
                        <button onclick="adicionarCarrinho('Bombom sonho de valsa', 3.00)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_2.jpg" download>
                        <img src="/imagens/bombom_2.jpg" alt="Produto 2" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom serenata do amor</p>
                        <p>R$ <span class="preco">150</span></p>
                        <button onclick="adicionarCarrinho('Bombom serenata do amor', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_3.jpg" download>
                        <img src="/imagens/bombom_3.jpg" alt="Produto 3" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom ouro branco</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom ouro branco', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_4.jpg" download>
                        <img src="/imagens/bombom_4.jpg" alt="Produto 4" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom sensação</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom sensação', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_5.jpg" download>
                        <img src="/imagens/bombom_5.jpg" alt="Produto 5" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom smache</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom smache', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/4bombom_6.jpg" download>
                        <img src="/imagens/bombom_6.jpg" alt="Produto 6" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom de morango</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom de morango', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_7.jpg" download>
                        <img src="/imagens/bombom_7.jpg" alt="Produto 7" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom de chocolate amargo</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom de chocolate amargo', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_8.jpg" download>
                        <img src="/imagens/bombom_8.jpg" alt="Produto 8" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom de avelã</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom de avelã', 1.50)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/bombom_9.jpg" download>
                        <img src="/imagens/bombom_9.jpg" alt="Produto 9" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom de leite condençado</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom de leite condençado', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_10.jpg" download>
                        <img src="/imagens/bombom_10.jpg" alt="Produto 10" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom de galak</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom de galak', 1.50)">Comprar</button>
                    </div>
                </div>
                <div class="produto-card">
                    <a href="/imagens/bombom_11.jpg" download>
                        <img src="/imagens/bombom_12.jpg" alt="Produto 11" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom de nozes</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom de nozes', 1.50)">Comprar</button>
                    </div>
                </div>
                 <div class="produto-card">
                    <a href="/imagens/bombom_12.jpg" download>
                        <img src="/imagens/bombom_12.jpg" alt="Produto 1" />
                      </a>
                    <div class="produto-preco">
                        <p>Bombom de castanhas</p>
                        <p>R$ <span class="preco">1.50</span></p>
                        <button onclick="adicionarCarrinho('Bombom de castanhas', 1.50)">Comprar</button>
                    </div>
                </div>
            </section>
        </div> 
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
        </main>        
    </div>
</body>
</html> -->